{% extends 'style.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
 
<h1>{{title}}</h1><br>
{% if Orders %}  
    <table style="width: 100%; margin: auto;">
            <tr style="border-bottom: 1px dotted grey;">
                <td class="tr_4" style="text-align: center;">USER</td>
                <td class="tr_1" style="text-align: center;">BOOKS</td>
                <td>end_at</td>
                <td>plated_end_at</td>
                <td>created_at</td>
            </tr>
            {% for el in Orders %}
                <tr style="padding:10px;border-bottom: 1px dotted grey; {% if el.end_at %}background-color: #a1ff9e !important;{% endif %} ">
                    <td class="tr_4" style="width:20%; {% if el.end_at %}background-color: #a1ff9e !important;{% endif %}"><span></span>Email: {{ el.user.email }}<br>
                    <span>Name: {{ el.user.first_name }}  {{ el.user.second_name }}  {{ el.user.middle_name }}</span>
                    </td>
                    <td class="tr_1" style="width:20%;">{{ el.book.name }}</td>
                    
                    {% if edit == el.id %} 
                    <form method="POST" action="{% url 'updateOrder' el.id %}"> 
                        {% csrf_token %}    
                        <td style="width:20%"><input type="date" name="end_at"  class="form-control" value="{{ el.end_at }}"></td>
                        <td style="width:20%"><input type="date" name="plated_end_at"  class="form-control" value="{{ el.plated_end_at }}"></td>
                        <td style="width:20%">{{ el.created_at }}</td>
                        <td colspan="2">
                            <button class="btn btn-success btn-sm btn-block" name="edit_items" value="True" type="submit">Confirm</button>
                        </td>
                    </form> 

                    {% else %}
                    
                    <td style="width:20%">{{ el.end_at }}</td>
                    <td style="width:20%">{{ el.plated_end_at }}</td>
                    <td style="width:20%">{{ el.created_at }}</td>
                
                    <form method="POST" action="{% url 'editOrder' el.id %}">  
                        {% csrf_token %}
                        <td ><button class="btn btn-warning btn-sm btn-block" name="edit_items" type="submit">Edit</button></td>
                    </form> 
                    
                        <form method="POST" action="{% url 'closeOrder' el.id %}"> 
                            {% csrf_token %} 
                            <td><button class="btn btn-outline-success btn-sm btn-block" name="end_order" type="submit" {% if el.end_at %}disabled{% endif %}>Close</button></td>
                        </form> 

                            {% endif %}

        
                    </tr>

            {% endfor %}
    </table>    
{% else %}
        <p style="color:red"> У списку не має записаних авторів </p>       
        {% endif %}


{% endblock %}
