{% extends 'style.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1>{{title}}</h1><br>
<div class="row">
  <div class="col-3">

<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
      {{form.as_p}}
      <input type="hidden" name="form_type" value="formAdd">
      <button class="btn btn-info btn-lg btn-block" style="margin-top:25px;" type="submit" {% if edit %}disabled{% endif %}>Add new Author</button>

  

</form>
</div>
<div class="col-9">

{% if Authors %}  
    <table style="width: 100%; margin: auto;">
            <tr style="border-bottom: 1px dotted grey;">
                <td>Name</td>
                <td>Surname</td>
                <td>Patronymic</td>
            </tr>
            {% for el in Authors %}
            {% if edit == el.id %}
                <form method="POST" action="{% url 'updateAuthors' el.id %}">
                {% csrf_token %}    
                <td><input type="text" name="name" maxlength="20" class="form-control" value="{{ el.name }}"></td>
                <td><input type="text" name="surname" maxlength="20" class="form-control" value="{{ el.surname }}"></td>
                <td><input type="text" name="patronymic" maxlength="20" class="form-control" value="{{ el.patronymic }}"></td>
                <td style="width:100px"><button class="btn btn-warning btn-sm btn-block" name="edit_items" value="True" type="submit">Confirm</div></td>
                </form> 
            {% else %}
                <tr style="padding:10px;border-bottom: 1px dotted grey;">
                    <td>{{ el.name }}</td>
                    <td>{{ el.surname }}</td>
                    <td>{{ el.patronymic }}</td>
                    <form method="POST" action="{% url 'editAuthors' el.id %}">  
                        {% csrf_token %}
                    <td style="width:50px"><button class="btn btn-warning btn-sm btn-block" name="edit_items" type="submit">Edit</div></td>
                    </form> 
            {% endif %}
                    <form method="POST" action="{% url 'delAuthors' el.id %}">  
                        {% csrf_token %}
                    <td style="width:100px"><button class="btn btn-danger btn-sm btn-block" name="delete_items" type="submit">Delete</div></td>
                    </form> 
                    </tr>
                <input type="hidden" name="id" value="{{ el.id }}">
                <input type="hidden" name="form_type" value="formDel">
            {% endfor %}
    </table>    
{% else %}
        <p style="color:red"> У списку не має записаних авторів </p>       
        {% endif %}
{% endblock %}
</div>
</div>
