{% extends 'style.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
 
<h1 style="text-align: center;font-weight: 700;text-transform:uppercase ">{{title}}</h1><br>
{% if Book %}  
<div class="row mb-2">
        {% for el in Book %}
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
        <form method="POST">  
            {% csrf_token %}
            <h3 class="mb-0"> <p class="text-dark">{{ el.name }}</p> </h3>
              <div class="mb-1 text-muted">Count: {{ el.count }}</div>
              <p class="card-text mb-auto" style="padding-bottom:10px">{{ el.description }}</p>
                <strong class="d-inline-block  text-primary">Authors:</strong><br>
                  {% for auth in el.authors.all %} 
                    {% for pos in Authors %}
                      {% if auth.id == pos.id %} 
                        <span class="text-grey">Name: {{ pos.name}} {{ pos.surname }}. Patronymic: {{ pos.patronymic }}</span><br>     
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </div>  
            <input type="hidden" name="id" value="{{ el.id }}">
            {% if request.user.is_authenticated %}
            <button class="btn  btn-{% if el.count  == 0 %}secondary{% else %}primary{% endif %} btn-primary btn-sm btn-block order_button" {% if el.count  == 0 %}disabled{% endif %} type="submit">{% if el.count  == 0 %}Not available{% else %}Order Book{% endif %}</button>
            
            {% for order in Ordered %}
                {% if el.id == order.book_id and request.user.id == order.user_id and not order.end_at %}
                    <button class="btn btn-success btn-sm btn-block order_button" style="opacity: 1; margin-top: 0px;" type="submit" disabled>In order</button>
                {% endif %}
            {% endfor %}
            {% endif %}
        </form> 
        <form method="POST" action="{% url 'moreInfoBook' el.id %}">  
          {% csrf_token %}
        <button class="btn btn-light btn-sm btn-block order_book_more" type="submit">More</button>
        </form> 
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_178884ab92e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_178884ab92e%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.20000076293945%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
    </div>
  </div>
        {% endfor %}
    </div>
{% else %}
    <p style="color:red"> У списку не має записаних книг </p>       
    {% endif %}

{% endblock %}
